.imgContainer {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
}
.rowContainer {
    height: 12vw;
    width: 25vw;
    overflow: hidden;
    padding: 1vw;
    padding-bottom: 3vw;
    padding-top: 2vw;
}
.gridContainer {
    margin: 0px auto;
    display: flex;
    flex-flow: row wrap;
}
