.imgContainer {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}
.rowContainer {
    height: 300px;
    width: 300px;
    overflow: hidden;
    padding: 1vw;
    padding-bottom: 3vw;
    padding-top: 2vw;
}
.gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}