.coverLogo {
    margin: 0px auto;
    color: white;
    height: 20vw;
    width: 70vw;
    display: flex;
    align-items: flex-end;
    flex-flow: row-reverse;
   
}

.title {
    font-size: 300px;
}