.imgContainer {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
    
}
.rowContainer {
    height: 150px;
    width: 500px;
    overflow: hidden;
    padding: 1vw;
    padding-bottom: 3vw;
    padding-top: 2vw;
}
.headerBackground {
    max-width: 100%;
    max-height: 55vh;
    height: 100vw;
    overflow: hidden;
}
.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}
.sideContainer {
    position: absolute;
    top: 70%;
    left: 58%;
    width: 700px;
    padding: 1vw;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    background-color: rgba(207, 73, 0, 0.842);
}
.logo {
    height: 2em;
}
.leftButton {
    display: flex;
    align-content: right;
    justify-content: right;
}

.type {
    display: flex;
    justify-content: space-evenly;
}

@font-face{
    font-family: moon;
    src: url("Moon2.0-Regular.otf") format("opentype");
}

@font-face{
    font-family:moonLight;
    src: url("Moon2.0-Light.otf") format("opentype");
}