.frogPic{
    width:100%;
    height:100%;
}

.frogDiv{
    width:100%;
    height:50vh;
    background-image: url("../public/frog.jpg");
    transform: translateY(-20%,-20%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 60%;
    color:white;
    font-family: moonLight;   
}

.text{
    position: relative;
    letter-spacing: .3em;
    font-size: 80px;
    text-align:center;
    word-spacing: 1em;
}

@font-face{
    font-family: moon;
    src: url("Moon2.0-Regular.otf") format("opentype");
}

@font-face{
    font-family:moonLight;
    src: url("Moon2.0-Light.otf") format("opentype");
}